<% booking_url = "http://m.elong.com/clockhotel/#{@hotel.elong_id}/" %>
<article class="container cus-padding">
  <div class="col-md-6 cus-padding">
    <div class="thumbnail">
      <img src="<%= @hotel.img_url %>" alt="<%= "#{@hotel.name}钟点房图片" %>">
    </div>
    <div class="isr clearfix">
      <h2 class="itr-head"><a href="<%= booking_url %>" rel="nofollow"><%= @hotel.name %></a>
      </h2>
      <span class="price pull-right">￥<%= @hotel.price %></span>
      <% if @hotel_detail %>
        <p style="padding-left:10px;"><%= @hotel_detail[:desc_json]["instruction"] %></p>
      <% end %>
      <p style="padding-left:10px">预订时间: <%= @hotel.shop_time %></p>
    </div>
    <div class="sider-bar">
      <p>
      <a class="btn btn-info" href="<%= booking_url %>" rel='nofollow'>查看更多房型</a>
      <a class="btn btn-warning pull-right" href="<%= booking_url %>" rel="nofollow">预订房间</a>
      </p>
      <hr>
      <% if @hotel_detail and !@hotel_detail[:desc_json].empty? %>
        <p><strong><%= @hotel.name %>信息:</strong></p>
        <ul>
          <li>地址:<%= @hotel_detail[:desc_json]["address"] %></li>
          <li>电话:<%= @hotel_detail[:desc_json]["tel"] %></li>
          <li>服务设施:<%= @hotel_detail[:desc_json]["service"] %></li>
        </ul>
      <% end %>
      <% if @hotel_detail and !@hotel_detail[:room_json].empty? %>
        <p><strong><%= @hotel.name %>钟点房房型:</strong></p>
        <ul>
          <% @hotel_detail[:room_json].each do |room| %>
            <li class="clearfix room">
              <p><strong><%= room['room_name'] %></strong></p>
              <p><%= room["open_time"] %><span class="pull-right ratings">￥<%= room["price"] %></span></p>
              <p>
              <%= room["room_infos"] %>
              <a class="pull-right btn btn-info" href="<%= booking_url %>" rel="nofollow">预订</a>
              </p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 cus-padding" >
    <div class="comment">
      <h3 class="comment-title"><%= @hotel.name %>点评</h3>
      <hr>
      <ul>
        <% @hotel_detail[:comment_json].each do |comment| %>
          <li><p class="content"><%= comment %></p></li>
        <% end %>
      </ul>
    </div>
  </div>
</article>
