<footer class="footer">
  <div class='container seo-area'>
    <%= render 'comment' unless @page_type=='detail' %>
    <% if @landmarks and !@landmarks.empty? %>
      <div id="landmarks" class="clearfix">
        <p class='head'><%= @city.name_cn %>热门地标</p>
        <ul>
          <% @landmarks.each do |landmark| %>
            <li><p class="landmark"><a href="<%=landmark[:url] %>"><%= landmark[:text] %></a></p></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @airports and !@airports.empty? %>
      <div id="airports" class="clearfix">
        <p class='head'><%= @city.name_cn %>机场附近酒店</p>
        <ul>
          <% @airports.each do |airport| %>
            <li><p class="landmark"><a href="<%=airport[:url] %>"><%= airport[:text] %>附近酒店</a></p></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= render 'layouts/friendlinks' %>
    <% if @city %>
      <div class="clearfix">
        <p class='pull-right'><a href="/booking/<%= @city.country_code %>/<%= @city.full_name %>/review.html"><%= @city.name_cn %>酒店评论</a></p>
      </div>
    <% end %>
  </div>
</footer>
