<% number = @location.number_of_hotels==0 ? @hotels.size : @location.number_of_hotels %>
<article class="container">
  <div class="row description"><%= "#{number}" %> hotels totally in <%= @location.name %></div>
  <div class="row" id="hotel-list">
    <%= render 'landmark_en' %>
  </div>
  <% if @hotels.size==21 %>
    <div id="pagination">
      <nav>
        <ul class="pager">
          <li class="next"><a data-page='2'>Next<span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  <% end %>
</article>
<%= render "footer_en" %>
<%= javascript_include_tag 'hotels' %>

