<% number = @location.number_of_hotels==0 ? @hotels.size : @location.number_of_hotels %>
<article class="container">
  <div class="row description">查询到<%= "#{@location.name_cn}共有#{number}" %>家酒店</div>
  <div class='row col-md-9' id="hotel-list">
    <%= render 'landmark_cn' %>
  </div>
  <% unless @location.content.empty? %>
    <div class='col-md-3 landmark-desc'>
      <h3><%= @location.name_cn %>简介</h3>
      <p><%= @location.content %></p>
    </div>
  <% end %>
  <% if @hotels.size==21 %>
    <nav id="pagination">
      <ul class="pager">
        <li class="next"><a data-page='2'>下一页<span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
  <% end %>
</article>
<%= render 'footer_cn' %>
