<% @hotels.each_with_index do |hotel, ix| %>
  <div class="col-xs-12 col-sm-6 col-md-4 cus-padding">
    <div class="thumbnail">
      <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/" target="_blank">
        <% @img_url="http://7xotew.com1.z0.glb.clouddn.com/#{hotel.fishtrip_hotel_id}.jpg" %>
        <img src="<%= @img_url %>" alt="<%= "#{@tdk[:h1]}民宿图片_#{ix}" %>">
      </a>
      <div class="caption">
        <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/" target="_blank">
          <p class="hotel-name"><%= hotel.name %></p>
        </a>
        <p class="desc"><%= "#{hotel.name}简介:#{hotel.desc}" %></p>
        <p class="location"><strong><%="位置："%></strong><%= FishtripSeo::COUNTRY[hotel.country] %>-<%= hotel.city %></p>
        <p class='address'><strong><%= "地址：" %></strong><%= hotel.address %></p>

        <p class='com-overview'>
        <% if hotel.comment.empty? %>
          <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/">查看点评</a>
        <% else %>
          <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/"><%= hotel.comment %></a> 
        <% end %>
        <span class='pull-right score'>用户评分：<%= hotel.score  %></span>
        </p>

        <% if hotel.price==0 %>
          <p class="booking"><a href="/<%= hotel.fishtrip_hotel_id %>/" target="_blank" class="btn btn-primary btn-xs" role="button">查看详情</a> 
        <% else %>
          <p class="booking"> 
          <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/" target="_blank" class="btn btn-primary" role="button">预订</a> 
          <span class="pull-right"><span class="dollor-sign">￥</span><strong class="price"><%= hotel.price %></strong></span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

