<div class="clearfix"></div> 
<div style="margin-top:20px">
  <div class="col-md-1" style="background-color:#fff">
    <h2 style="width:20px;">推荐民宿 </h2>
  </div>
  <div class="col-md-11">
    <% @recommend_hotels[0..5].each do |hotel| %>
      <section class="col-xs-6 col-sm-4 col-md-2 cus-padding" id="recommend-hotels">
        <div class="thumbnail">
          <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/" target="_blank">
            <% @img_url="http://7xotew.com1.z0.glb.clouddn.com/#{hotel.fishtrip_hotel_id}.jpg" %>
            <img src="<%= @img_url %>" alt="<%= hotel.name %>">
          </a>
          <div class="caption">
            <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/" target="_blank">
              <p class="hotel-name"><%= hotel.name %></p>
            </a>
            <% if hotel.comment.empty? %>
              <p class='com-overview'>
              <% if hotel.price>0 %>
                <span class="dollor-sign">￥</span><strong class="price"><%= hotel.price %></strong>
              <% end %>
              <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/#comment">查看点评</a>
              </p>
            <% else %>
              <p class='com-overview'>
              <% if hotel.price>0 %>
                <span class="dollor-sign">￥</span><strong class="price"><%= hotel.price %></strong>
              <% end %>
              <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/#comment"><%= hotel.comment %></a> 
              </p>
            <% end %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
<div>
  <div class="col-md-1" style="background-color:#fff">
    <h2 style="width:20px;">本周热卖 </h2>
  </div>
  <div class="col-md-11">
    <% @recommend_hotels[6..11].each do |hotel| %>
      <section class="col-xs-6 col-sm-4 col-md-2 cus-padding" id="recommend-hotels">
        <div class="thumbnail">
          <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/" target="_blank">
            <% @img_url="http://7xotew.com1.z0.glb.clouddn.com/#{hotel.fishtrip_hotel_id}.jpg" %>
            <img src="<%= @img_url %>" alt="<%= hotel.name %>">
          </a>
          <div class="caption">
            <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/" target="_blank">
              <p class="hotel-name"><%= hotel.name %></p>
            </a>
            <% if hotel.comment.empty? %>
              <p class='com-overview'>
              <% if hotel.price>0 %>
                <span class="dollor-sign">￥</span><strong class="price"><%= hotel.price %></strong>
              <% end %>
              <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/#comment">查看点评</a>
              </p>
            <% else %>
              <p class='com-overview'>
              <% if hotel.price>0 %>
                <span class="dollor-sign">￥</span><strong class="price"><%= hotel.price %></strong>
              <% end %>
              <a href="/fishtrip/<%= hotel.fishtrip_hotel_id %>/#comment"><%= hotel.comment %></a> 
              </p>
            <% end %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
