<% tuijian_hotels, remai_hotels = @recommend_hotels[0..5], @recommend_hotels[6..11] %>
<div id='recommend-hotels'>
  <% if tuijian_hotels %>
    <section class="col-md-12">
      <h2 class="rc-title">推荐民宿</h2>
      <% tuijian_hotels.each do |hotel| %>
        <div class="col-xs-6 col-sm-4 col-md-2 cus-padding">
          <div class="thumbnail">
            <a href="/<%= hotel.fishtrip_hotel_id %>/" target="_blank">
              <img src="http://7xotew.com1.z0.glb.clouddn.com/<%= hotel.fishtrip_hotel_id %>.jpg" alt="民宿图片_<%= hotel.name %>">
            </a>
            <div class="caption">
              <p class="hotel-name">
              <a href="/<%= hotel.fishtrip_hotel_id %>/" target="_blank">
                <%= hotel.name %>
              </a>
              </p>
              <% if hotel.comment.empty? %>
                <p class='com-overview'>
                <% if hotel.price>0 %>
                  <span class="dollor-sign">￥</span><strong class="price"><%= hotel.price %></strong>
                <% end %>
                <a href="/<%= hotel.fishtrip_hotel_id %>/">查看点评</a>
                </p>
              <% else %>
                <p class='com-overview'>
                <% if hotel.price>0 %>
                  <span class="dollor-sign">￥</span><strong class="price"><%= hotel.price %></strong>
                <% end %>
                <a href="/<%= hotel.fishtrip_hotel_id %>/"><%= hotel.comment %></a> 
                </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </section>
  <% end %>
  <% if remai_hotels %>
    <section class="col-md-12 clearfix">
      <h2 class="rc-title">本周热卖</h2>
      <% remai_hotels.each do |hotel| %>
        <div class="col-xs-6 col-sm-4 col-md-2 cus-padding">
          <div class="thumbnail">
            <a href="/<%= hotel.fishtrip_hotel_id %>/" target="_blank">
              <img src="http://7xotew.com1.z0.glb.clouddn.com/<%= hotel.fishtrip_hotel_id %>.jpg" alt="民宿图片_<%= hotel.name %>">
            </a>
            <div class="caption">
              <p class="hotel-name">
              <a href="/<%= hotel.fishtrip_hotel_id %>/" target="_blank">
                <%= hotel.name %>
              </a>
              </p>
              <% if hotel.comment.empty? %>
                <p class='com-overview'>
                <% if hotel.price>0 %>
                  <span class="dollor-sign">￥</span><strong class="price"><%= hotel.price %></strong>
                <% end %>
                <a href="/<%= hotel.fishtrip_hotel_id %>/">查看点评</a>
                </p>
              <% else %>
                <p class='com-overview'>
                <% if hotel.price>0 %>
                  <span class="dollor-sign">￥</span><strong class="price"><%= hotel.price %></strong>
                <% end %>
                <a href="/<%= hotel.fishtrip_hotel_id %>/"><%= hotel.comment %></a> 
                </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </section>
  <% end %>
</div>
