<article class="container cus-padding">
  <div id="hotel-desc" class="col-md-6 cus-padding">
    <div class="thumbnail">
      <a href="<%= @hotel.shared_uri %>" rel="nofollow">
        <img src="<%= "http://7xotew.com1.z0.glb.clouddn.com/#{@hotel.fishtrip_hotel_id}-large.jpg" %>" alt="<%= "#{@hotel.name}图片" %>">
      </a>
    </div>
    <div class="isr" >
      <h2 class="itr-head"><a href="<%= @hotel.shared_uri %>" rel="nofollow"><%= @hotel.name %></a>
        <span class="price pull-right">￥<%= @hotel.price %></span>
      </h2>
      <p style="padding-left:10px;"><%= @hotel.desc %></p>
      <div class="ratings">
        <p class="pull-right"><a href="<%= @hotel.shared_uri %>" rel="nofollow"><%= @hotel.comment %></a></p>
        <p>
        <% if @hotel.score.nil? %>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% else %>
          <% @hotel.score.to_i.times{ %>
            <span class="glyphicon glyphicon-star"></span>
          <% } %>
          <% if (@hotel.score-@hotel.score.to_i)>0 %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
        <% end %>
        <%= @hotel.score %> 分
        </p>
      </div>
    </div>
    <div class="sider-bar">
      <p>
      <a class="btn btn-info" href="<%= "#{@hotel.shared_uri}" %>" rel='nofollow'>查看更多房型</a>
      <a class="btn btn-warning pull-right" href="<%= @hotel.shared_uri %>" rel="nofollow">预订房间</a>
      </p>
      <hr>
      <%= render 'rooms' %>
      <hr>
      <ul>
        <% unless @tuijian.empty? %>
          <li><strong><%= @hotel.name %>推荐理由</strong></li>
          <% @tuijian.each do |tuijian|  %>
            <li> <%= tuijian %> </li>
          <% end %>
        <% end %>
        <% if @hotel.traffic %>
          <li><strong>怎么去<%= @hotel.name %></strong></li>
          <li> <%= @hotel.traffic %> </li>
        <% end %>
      </ul>
    </div>
    <%= render 'seo_articles' %>
  </div>
  <div class="col-md-6 cus-padding" >
    <div class="comment">
      <h3 class="comment-title"><%= @hotel.name %>点评</h3>
    </div>
    <hr>
    <% @comments.each do |comment| %>
      <div class="isr ratings">
        <% if comment.score.nil? %>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% else %>
          <% comment.score.to_i.times{ %>
            <span class="glyphicon glyphicon-star"></span>
          <% } %>
          <% if (comment.score-comment.score.to_i)>0 %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
        <% end %>
        <%= comment.score %>分 <span class="author"><%= comment.author %></span>
        <span class="pull-right"><%= comment.comment_time %></span>
        <p class="content"><%= comment.content %> </p>
      </div>
    <% end %>
  </div>
  </div>
  <%= render 'recommend_hotel' %>
</article>
<%= render 'footer' %>
