<div class="hotel-item clearfix">
  <div class="hotel-pic">
    <a href="<%= booking_path(hotel) %>/" target="_blank">
      <img class="hotel-img" src="<%= hotel.photo_url %>" alt="<%= @location.name_cn %>酒店图片_<%= hotel.name_cn %>">
    </a>
  </div>
  <div class="hotel-body">
    <a href="<%= booking_path(hotel) %>/" target="_blank">
      <p class="hotel-name"><%= hotel.name_cn %></p>
    </a>
    <% hotel_comments = @reviews[hotel.id] %>
    <% if hotel_comments %>
      <ul>
        <% hotel_comments.each do |comment| %>
          <li><p class="hotel-comment">来自<%= comment[2] %>：<%= comment[0].empty? ? comment[1] : comment[0] %></p></li>
        <% end %>
      </ul>
    <% end %>
    <% if hotel.minrate == 0 %>
      <p class="booking pull-right"><a href="<%= booking_path(hotel) %>/" target="_blank" class="btn btn-warning" role="button">查看详情</a> 
    <% else %>
      <p class="booking">
      <strong class="price"><%= hotel.minrate %></strong><%= hotel.currencycode %>/晚
      <a href="<%= booking_path(hotel) %>/" target="_blank" class="btn btn-warning pull-right" role="button">预订</a> 
      </p>
    <% end %>
  </div>
</div>
<hr>
