<% @cities.each do |country, cities| %>
  <div class="clearfix">
    <h2 class="city-title"><%= FishtripSeo::COUNTRY[country] %>的热门民宿</h2>
    <% cities.each do |city| %>
      <div class="col-xs-12 col-sm-6 col-md-4 cus-padding">
        <div class="thumbnail">
          <a href="/fishtrip/<%= "#{country}/#{city.name_en}" %>/" target="_blank">
            <img src="<%= city.img %>">
          </a>
          <div class="caption">
            <p class="hotel-name">
            <a href="/fishtrip/<%= "#{country}/#{city.name_en}" %>/" target="_blank">
              <%= city.name %>
            </a>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
