<footer class="common">
  <div class="container seo-area">
    <% if @fishtrip_links %>
      <% @fishtrip_links.each do |country, links| %>
        <div class="clearfix">
          <p class="head"><%= FishtripSeo::COUNTRY[country] %>特色民宿</p>
          <ul>
            <% links.each_slice(11) do |sli| %>
              <% sli.each do |link| %>
                <li><a class="footer-link" href="<%= link['uri'] %>"><%= link['text'] %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <hr>
      <% end %>
    <% end %>
    <% if @booking_hot_destinations %>
      <div class="clearfix">
        <% @booking_hot_destinations.each do |destination| %>
          <div class="hot-cities">
            <p class="head"><%= destination[:title] %></p>
            <ul>
              <% destination[:links].each_slice(11) do |sli| %>
                <% sli.each do |link| %>
                  <li>
                    <p class="hot-link"> <a href="<%= link[:link] %>"><%= link[:text] %>酒店</a></p>
                    <p class="hot-desc"><%= link[:addition] %></p>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <hr>
        <% end %>
      </div>
    <% end %>
    <p class="copy">Copyright © tan90.cn 2014-<%= Time.now.strftime("%Y") %> All Rights Reserved </p>
  </div>
</footer>
