<div class="hotel-item clearfix">
  <div class="hotel-pic"> 
    <a href="<%= booking_path(hotel) %>/" target="_blank">
      <img class="hotel-img" src="<%= hotel.photo_url %>" alt="Images of <%= @location.name %> hotels - <%= hotel.name %>">
    </a>
  </div>
  <div class="hotel-body">
    <p class="hotel-name">
    <a href="<%= booking_path(hotel) %>/" target="_blank"><%= hotel.name %></a>
    </p>
    <p> 
    <% if hotel.star > 0 %>
      <% hotel.star.times { %><span class="glyphicon glyphicon-star star"></span><% } %>
    <% end %>
    </p>
    <p class="location"><strong><%="location:"%></strong><%= @location.name %></p>
    <p class='address'><strong><%= "address:" %></strong><%= hotel.address %></p>
    <p class="hotel-desc hidden-xs">Introduction of <%= "#{hotel.name}: #{hotel.desc_en}" %></p>
    <% if @comments[hotel.id] %>
      <p class="hotel-comment hidden-xs">reviews:<%= @comments[hotel.id] %></p>
    <% end %>
    <% if hotel.minrate.nil? %>
      <p class="booking"><a href="<%= booking_path(hotel) %>/" target="_blank" class="btn btn-primary btn-xs" role="button">View detail</a> 
    <% else %>
      <p class="booking"> 
      <a class="btn btn-success pull-right" href="<%= booking_path(hotel) %>/" target="_blank">Select your room</a>
      <strong class="price"><%= hotel.minrate %></strong><span class="cy-code"><%= hotel.currencycode %></span>
      </p>
    <% end %>
  </div>
</div>
