<% ix=1 %>
<% @hotels.each do |hotel| %>
  <div class="col-xs-12 col-sm-6 col-md-4 cus-padding">
    <div class="thumbnail">
      <a href="/<%= hotel.fishtrip_hotel_id %>/" target="_blank">
        <% @img_url="http://7xotew.com1.z0.glb.clouddn.com/#{hotel.fishtrip_hotel_id}.jpg" %>
        <img src="<%= @img_url %>" alt="<%= "@city.name民宿-图片_#{ix}" %>">
      </a>
      <div class="caption">
        <a href="/<%= hotel.fishtrip_hotel_id %>/" target="_blank">
          <p class="hotel-name"><strong><%= hotel.name %></strong></p>
        </a>
        <p class="desc"><%= "#{hotel.name}简介:#{hotel.desc}" %></p>
        <p class="location"><strong><%="位置："%></strong><%= Seo::COUNTRY[hotel.country] %>-<%= hotel.city %></p>
        <p class='address'><strong><%= "地址：" %></strong><%= hotel.address %></p>

        <% if hotel.comment.empty? %>
          <p class='com-overview'>
          <a href="/<%= hotel.fishtrip_hotel_id %>/#comment">查看点评</a>
          </p>
        <% else %>
          <p class='com-overview'>
          <a href="/<%= hotel.fishtrip_hotel_id %>/#comment"><%= hotel.comment %></a> 
          </p>
        <% end %>

        <% if hotel.price==0 %>
          <p class="booking"><a href="/<%= hotel.fishtrip_hotel_id %>/" target="_blank" class="btn btn-primary btn-xs" role="button">查看详情</a> 
        <% else %>
          <p class="booking"> 
          <a href="/<%= hotel.fishtrip_hotel_id %>/" target="_blank" class="btn btn-primary" role="button">预订</a> 
          <span class="pull-right"><span class="dollor-sign">￥</span><strong class="price"><%= hotel.price %></strong></span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <% ix+=1 %>
<% end %>

