<article class="container cus-padding">
  <section class="col-md-6 cus-padding" id="desc">
    <div class="thumbnail">
      <% @img_url="http://7xotew.com1.z0.glb.clouddn.com/#{@hotel.fishtrip_hotel_id}-large.jpg" %>
      <a href="<%= @hotel.shared_uri %>" rel="nofollow">
        <img src="<%= @img_url %>" alt="<%= "#{@hotel.name}图片" %>">
      </a>
    </div>
    <div class="isr" >
      <h2 class="itr-head"><a href="<%= @hotel.shared_uri %>" rel="nofollow"><%= @hotel.name %></a>
        <span class="price pull-right">￥<%= @hotel.price %></span>
      </h2>
      <p style="padding-left:10px;"><%= @hotel.desc %></p>
      <div class="ratings">
        <p class="pull-right"><a href="<%= @hotel.shared_uri %>" rel="nofollow"><%= @hotel.comment %></a></p>
        <p>
        <% if @hotel.score.nil? %>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% else %>
          <% @hotel.score.to_i.times{ %>
            <span class="glyphicon glyphicon-star"></span>
          <% } %>
          <% if (@hotel.score-@hotel.score.to_i)>0 %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
        <% end %>
        <%= @hotel.score %> 分
        </p>
      </div>
    </div>
    <div class="sider-bar">
      <ul>
        <p><a class="btn btn-info" href="<%= "#{@hotel.shared_uri}#house_show_date_select" %>" rel="nofollow">查看更多房型</a><a class="btn btn-warning pull-right" href="<%= @hotel.shared_uri %>" rel="nofollow">预订房间</a></p>
        <hr>
        <% unless @tuijian.empty? %>
          <p><strong>推荐理由:</strong></p>
          <% @tuijian.each do |tuijian|  %>
            <li> <%= tuijian %> </li>
            <hr>
          <% end %>
        <% end %>
        <% if @hotel.traffic %>
          <p><strong>交通指引:</strong></p>
          <li> <%= @hotel.traffic %> </li>
        <% end %>
      </ul>
    </div>
  </section>
  <section class="col-md-6 cus-padding" >
    <div class="comment">
      <h3 class="comment-title"><%= @hotel.name %>点评</h3>
      <hr>
    </div>
    <% @comments.each do |comment| %>
      <div class="isr ratings">
        <% if comment.score.nil? %>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% else %>
          <% comment.score.to_i.times{ %>
            <span class="glyphicon glyphicon-star"></span>
          <% } %>
          <% if (comment.score-comment.score.to_i)>0 %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
        <% end %>
        <%= comment.score %>分 <span class="author"><%= comment.author %></span>
        <span class="pull-right"><%= comment.comment_time %></span>
        <p class="content"><%= comment.content %> </p>
      </div>
    <% end %>
  </section>
  </div>
  <div class="row">
    <%= render 'recommend_hotel' %>
  </div>
</article>
