<% if @breadcrumb and !@breadcrumb.empty? %>
  <nav class='container'>
    <div class='row'>
      <% if @is_mobile %>
        <ol class="breadcrumb">
          <% @breadcrumb.each do |crumb| %>
            <% if crumb[:url] %>
              <li><a href="<%= crumb[:url] %>"><%= crumb[:text] %></a></li>
            <% else %>
              <li class="active"><span><%= crumb[:text] %></span></li>
            <% end %>
          <% end %>
        </ol>
      <% else %>
        <div class="btn-group btn-breadcrumb">
          <% @breadcrumb.each do |crumb| %>
            <% if crumb[:url] %>
              <a href="<%= crumb[:url] %>" class="btn btn-success"><%= crumb[:text] %></a>
            <% else %>
              <span class="btn btn-success"> <%= crumb[:text] %> </span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </nav>
<% end %>

