<footer class="container-fluid footer">
  <div class="col-md-12 col-md-offset-2">
    <% @footer_links.each do |country, links| %>
      <section>
        <ul>
          <% if @page_type=='index' %>
            <li><p class="head"><%= Seo::COUNTRY[country] %>特色民宿</p></li>
          <% else %>
            <li><p class="head">更多<%= Seo::COUNTRY[country] %>民宿</p></li>
          <% end %>
          <% links.each_slice(12) do |sli| %>
            <% sli.each do |link| %>
              <li class="inner"><p><a class="footer-link" href="<%= link['uri'] %>"><%= link['text'] %></a></p></li>
            <% end %>
            <div class="clearfix"></div>
          <% end %>
        </ul>
      </section>
    <% end %>
    <div class='col-md-12'>
      <p class="copy">Copyright ©timlentse.com 2015-<%= Time.now.strftime("%Y") %> All Rights Reserved</p>
    </div>
  </div>
</footer>
