<footer class="footer">
  <div class="container seo-area">
    <%= render 'fishtrip_comments/comment' %>
    <% if @footer_links and !@footer_links.empty? %>
      <% @footer_links.each do |country, links| %>
        <div class="recom-links clearfix">
          <h3 class="head"><%= FishtripSeo::COUNTRY[country] %>特色民宿</h3>
          <ul>
            <% links.each_slice(12) do |sli| %>
              <% sli.each do |link| %>
                <li class="inner"><a class="footer-link" href="<%= link['uri'] %>"><%= link['text'] %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
    <div class="clearfix">
      <h3 class="head">友情链接</h3>
      <ul>
        <li><a class="footer-link" href="http://www.tan90.cn">酒店预订</a></li>
      </ul>
    </div>
    <p class="copy">Copyright ©timlentse.com 2015-<%= Time.now.strftime("%Y") %> All Rights Reserved</p>
  </div>
</footer>
<script>

//load more hotels
$(".pager > li > a ").click(function(e) {
  e.preventDefault();
  var pageId = $(this).attr('data-page');

  $.ajax({
    type: "POST",
    url: window.location.href,
    data: {
      page: pageId

    },
    dataType: "script",
    success: function(msg) {},
    error: function(msg) {
      console.log(msg.responseText);
    }
  });
});
</script>
