<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= @tdk[:title] %></title>
    <meta name="keywords" content="<%= @tdk[:keywords] %>">
    <meta name="description" content="<%= @tdk[:description] %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="appplicable-device" content="pc,mobile">
    <link rel="stylesheet" href="http://7xotew.com1.z0.glb.clouddn.com/shared/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://7xotew.com1.z0.glb.clouddn.com/shared/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="http://7xotew.com1.z0.glb.clouddn.com/timlentse%2Fcss%2Fcommon.css">
    <script src="http://7xotew.com1.z0.glb.clouddn.com/shared/js/jquery.min.js"></script>
    <script src="http://7xotew.com1.z0.glb.clouddn.com/shared/js/bootstrap.min.js"></script>
    <script src="http://7xotew.com1.z0.glb.clouddn.com/shared/js/bootstrap-datetimepicker.min.js"></script>
  </head>
  <% unless @page_type=='index' %>
    <body style="background:#f6f1e5">
    <% else %>
      <body>
      <% end %>
      <%= render 'layouts/header' %>
      <%= render 'layouts/breadcrumb' %>
      <%= yield %>
      <script src="http://7xotew.com1.z0.glb.clouddn.com/timlentse/js/common.js"></script>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/cnzz' %>
      <%= render 'layouts/google_analytics' %>
      <%= render 'layouts/google_ad' %>
      </body>
</html>
