<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%= @tdk[:title] %></title>
    <meta name="keywords" content="<%= @tdk[:keywords] %>">
    <meta name="description" content="<%= @tdk[:description] %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="appplicable-device" content="pc,mobile">
    <link rel="stylesheet" href="/assets/common.css">
    <link rel='favicon' href='/assets/icon.png'>
    <script src="http://7xotew.com1.z0.glb.clouddn.com/shared/js/common.js"/></script>
    <%= render 'layouts/baidu_tongji' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/breadcrumb' %>
    <%= yield %>
    <%= render 'layouts/google_analytics' %>
    <%= render 'layouts/cnzz' %>
    <%= render 'layouts/sogou_ad' %>
    <%= render 'layouts/ad' %>
    <p class="copy">Copyright © tan90.cn 2014-<%= Time.now.strftime("%Y") %> All Rights Reserved </p>
  </body>
  <script>
//load more hotels
$(".pager > li > a ").click(function (e) {
  e.preventDefault();
  var pageId = $(this).attr('data-page');

  $.ajax({
    type: "POST",
    url: window.location.href,
    data: { page: pageId },
    dataType: "script",
    success: function (msg) {
    },
    error: function(msg) { 
      console.log(msg.responseText);
    }
  });
});
  </script>
</html>
