<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%= @tdk[:title] %></title>
    <meta name="keywords" content="<%= @tdk[:keywords] %>">
    <meta name="description" content="<%= @tdk[:description] %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="appplicable-device" content="pc,mobile">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/breadcrumb' %>
    <%= yield %>
    <%= javascript_include_tag 'document_ready' %>
    <%= render 'layouts/google_analytics' %>
    <%= render 'layouts/cnzz' %>
    <%= render 'layouts/sogou_ad' %>
    <%= render 'layouts/ad' %>
    <p class="copy">Copyright © tan90.cn 2014-<%= Time.now.strftime("%Y") %> All Rights Reserved </p>
  </body>
</html>
